/* You can add global styles to this file, and also import other style files */
body {
  font-family: "poppins", sans-serif;

}
.bg-danger {

  background-color: #D20A0A !important;
}

.form-control{
  color : #000 !important;
}
input.ng-dirty.ng-invalid {
  color: red
}
