
<div id="main-wrapper" class="show " [ngClass]="openSideBar ? 'menu-toggle': '' ">
  <app-header ></app-header>
  <app-sidebar></app-sidebar>
  <div class="content-body default-height">
    <div class="container-fluid">

      <app-breadcrumbs></app-breadcrumbs>
      <router-outlet></router-outlet>

    </div>


  </div>
  <!--**********************************
              Footer start
          ***********************************-->
  <footer class="footer">
    <div class="copyright">
      <p>Copyright © Desarrollado para <a href="https://www.academiamarcossantander.cl/" target="_blank">Academia Marcos Santander</a> {{today}}</p>
    </div>
  </footer>
  <!--**********************************
            Footer end
        ***********************************-->

</div>
