<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Listado de alumnos</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-responsive-lg table-striped table-hover">
            <thead>
              <tr>
                <th>Almuno</th>
                <th>Disciplina</th>
                <th>Fecha de ingreso</th>
                <th>Instructor</th>
                <th>Estado de pago</th>
                <th>Monto</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody *ngIf="alumnos.length > 0;else sinData">
              <tr *ngFor="let item of alumnos">

                <td>{{item.StudentName}}</td>
                <td>{{item.DisciplineName}}</td>
                <td>{{item.EnrollmentDate | date : 'dd/MM/yyyy'}}</td>
                <td>{{item.InstructorName}}</td>
               <!--  <td>
                <span class="badge light badge-success">Successful</span>
              </td> -->

               <td >
                <span [ngClass]=" !item.IsOverdue ? 'badge light badge-success': 'badge light badge-danger'"> {{ item.IsOverdue ? 'Vencido' : 'Al día' }}</span>

               </td>
                <td>${{item.Price | number}}</td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
                      <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24" />
                          <circle fill="#000000" cx="5" cy="12" r="2" />
                          <circle fill="#000000" cx="12" cy="12" r="2" />
                          <circle fill="#000000" cx="19" cy="12" r="2" />
                        </g>
                      </svg>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Editar</a>
                      <a class="dropdown-item" href="#">Eliminar</a>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>

            <ng-template #sinData>
              <tbody>
                <tr>
                  <td colspan="7" align="center">Sin datos</td>
                </tr>
              </tbody>
            </ng-template>


          </table>
        </div>
      </div>
    </div>
  </div>






</div>
