<div class="row">
  <div class="col-xl-12 col-xxl-12">
    <div class="row" *ngIf="widgets.length >0">

      <div class="col-sm-6" *ngFor="let item of widgets">
        <div class="card avtivity-card">
          <div class="card-body">
            <div class="media align-items-center">
              <span class="activity-icon me-md-4 me-3" [ngClass]="item.assets.iconBg">

                <img [src]="item.Icon">
              </span>
              <div class="media-body">
                <p class="fs-14 mb-2">{{item.DisciplineName}}</p>
                <span class="title text-black font-w600">{{item.NumberOfStudents}}</span>
              </div>
            </div>

          </div>
          <div class="effect " [ngClass]="item.assets.background"></div>
        </div>
      </div>


    </div>
  </div>


</div>
