<!--**********************************
            Sidebar start
        ***********************************-->
<div class="deznav">
  <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
      <li  [ngClass]="!openMenu ?  '': 'mm-active'">
        <a class="has-arrow ai-icon" (click)="openMenu = !openMenu" aria-expanded="false" style="cursor: pointer;">
          <i class="fa fa-home"></i>
          <span class="nav-text">Inicio</span>
        </a>
        <ul aria-expanded="false" class="mm-collapse" [ngClass]="openMenu ? 'mm-show': ''">
          <li><a href="index.html">Dashboard</a></li>
         <!--  <li><a href="index-2.html">Dashboard Dark<span class="badge badge-xs badge-danger ms-1">New</span></a></li>
          <li><a href="workout-statistic.html">Workout Statistic</a></li>
          <li><a href="workoutplan.html">Workout Plan</a></li>
          <li><a href="distance-map.html">Distance Map</a></li>
          <li><a href="food-menu.html">Diet Food Menu</a></li>
          <li><a href="personal-record.html">Personal Record</a></li> -->
        </ul>
      </li>
<!--
      <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="flaticon-381-compact-disc-1"></i>
          <span class="nav-text">Icons<span class="badge badge-danger badge-xs ms-1">NEW</span></span>
        </a>
        <ul aria-expanded="false">
          <li><a href="flat-icons.html">Flaticons</a></li>
          <li><a href="svg-icons.html">SVG Icons</a></li>
          <li><a href="feather.html">Feather Icons</a></li>
        </ul>
      </li>
 -->

      <li><a href="widget-basic.html" class="ai-icon" aria-expanded="false">
          <i class="fa fa-cog"></i>
          <span class="nav-text">Widget</span>
        </a>
      </li>



    </ul>
    <div class="add-menu-sidebar">
      <img src="assets/images/calendar.png" alt="" class="me-3">
      <a href="workoutplan.html" class="font-w500 mb-0">Inscribir nuevo alumno</a>
    </div>

  </div>
</div>
<!--**********************************
          Sidebar end
      ***********************************-->
