<!--**********************************
            Sidebar start
        ***********************************-->
<div class="deznav">
  <div class="deznav-scroll">
    <!--  <ul class="metismenu" id="menu">
      <li>
        <a [routerLink]="['/administrador']" class="ai-icon" aria-expanded="false">
        <i class="fa fa-home"></i>
        <span class="nav-text">Inicio</span>
      </a>
    </li>

      <li  [ngClass]="!openMenu ?  '': 'mm-active'">
        <a class="has-arrow ai-icon" (click)="openMenu = !openMenu" aria-expanded="false" style="cursor: pointer;">
          <i class="fa fa-cog"></i>
        <span class="nav-text">Mantenedores</span>
        </a>

        <ul aria-expanded="false" class="mm-collapse" [ngClass]="openMenu ? 'mm-show': ''">
          <li><a [routerLink]="['/administrador/mantenedores/instructor']">Instructores</a></li>
          <li><a [routerLink]="['/administrador/mantenedores/disciplinas']">Disciplinas</a></li>
          <li><a [routerLink]="['/administrador/mantenedores/horarios']">Horarios</a></li>
          <li><a [routerLink]="['/administrador/mantenedores/planes']">Planes</a></li>

        </ul>
      </li>
    </ul> -->

    <ul class="metismenu" id="menu">
      <li *ngFor="let item of menu">
        <ng-container *ngIf="item.url">
          <a [routerLink]="[item.url]" class="ai-icon" aria-expanded="false">
            <i class="fa " [ngClass]="item.icon"></i>
            <span class="nav-text">{{item.title}}</span>
          </a>
        </ng-container>

      </li>

      <li [ngClass]="!openMenu ?  '': 'mm-active'">

        <a class="has-arrow ai-icon" (click)="openMenu = !openMenu" aria-expanded="false" style="cursor: pointer;">
          <i class="fa fa-cog"></i>
          <span class="nav-text">Mantenedores</span>
        </a>

        <ul aria-expanded="false" class="mm-collapse" [ngClass]="openMenu ? 'mm-show': ''">
          <li><a [routerLink]="['/administrador/mantenedores/instructor']">Instructores</a></li>
          <li><a [routerLink]="['/administrador/mantenedores/disciplinas']">Disciplinas</a></li>
          <li><a [routerLink]="['/administrador/mantenedores/horarios']">Horarios</a></li>
          <li><a [routerLink]="['/administrador/mantenedores/planes']">Planes</a></li>

        </ul>
      </li>
    </ul>

    <div class="add-menu-sidebar">
      <img src="assets/images/calendar.png" alt="" class="me-3">
      <a [routerLink]="['/administrador/ingresar-alumno']" class="font-w500 mb-0">Inscribir nuevo alumno</a>
    </div>

  </div>
</div>
<!--**********************************
          Sidebar end
      ***********************************-->
